@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <div class="container">
        <img src="~/css/fondo1.jpg" style="width:500px" />
    </div>
</div>
